* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
}

.first-part {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.title-name {
    text-align: center;
    color: white;
    padding-top: 150px;
    font-size: 40px;
}

.title-name2 {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 40px;
}

.text {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.my-button {
    margin-left: 720px;
    margin-top: 10px;
}

.donate-button {
    padding: 17px 27px;
    background-image: linear-gradient(tomato, orange);
    border-radius: 10px;
    margin-top: 10px;
    border: none;
}

.donate-today {
    text-align: center;
    margin: 40px 0;
}

.donate-text {
    text-align: center;
    margin-bottom: 30px;
}

.amount {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.taka-button {
    text-decoration: none;
    padding: 25px;
    margin: 0 30px;
    border: none;
    border-radius: 5px;
}

#special-amount {
    background-color: rgb(236, 210, 205);
    border: 2px solid tomato;
}

.donate-now {
    border: 2px solid gray;
    width: 60%;
    margin: auto;
    margin-top: 15px;
    margin-top: 10px 0;

}

.other-amount {
    color: gray;
    text-align: center;
    margin-top: 70px;
}